.items-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
::-webkit-scrollbar {
    width: 0;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: hsl(60, 14%, 99%);
    border-radius: 100vw;
    margin-block: .75em;
}

::-webkit-scrollbar-thumb {
    background: hsl(53, 97%, 49%);
    border-radius: 100vw
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(53, 97%, 49%);
}