.items-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background: hsl(55 75% 50% / 1);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: hsl(55 100% 45% / 1);
    border-radius: 100vw
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(55 100% 40% / 1);
}